// ブレイクポイントを指定
$pc: 1080px;
$tab: 768px;
$sp: 480px;

@mixin pc {
  @media screen and (max-width: ($pc)) {
    @content;
  }
}

@mixin tab {
  @media screen and (max-width: ($tab)) {
    @content;
  }
}

@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}

@mixin font-size($size: 24, $base: 16) {
  font-size: $size + px; //現代ではremはほぼ使えるので不要
  font-size: ($size / ($base * 0.625)) + rem;
}
@mixin title($size:12) {
  font-size: ($size / (16 * 0.625)) + rem;
  font-weight: bold;
}
