// ブレイクポイントを指定
$pc: 1080px;
$tab: 768px;
$sp: 480px;

@mixin pc {
  @media screen and (max-width: ($pc)) {
    @content;
  }
}

@mixin tab {
  @media screen and (max-width: ($tab)) {
    @content;
  }
}

@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}

@mixin font-size($size: 24, $base: 16) {
  font-size: $size + px; //現代ではremはほぼ使えるので不要
  font-size: ($size / ($base * 0.625)) + rem;
}
@mixin title($size:12) {
  font-size: ($size / (16 * 0.625)) + rem;
  font-weight: bold;
}
@mixin btn(){
  position: relative;
  font-weight: bold;
  line-height: 1.4;
  display: inline-block;
  width: 200px;
  padding: 10px 0;
  transition: .3s;
  text-align: center;
  text-decoration: none;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: #fff;
  background-color: #000000;
  background-size: 200% auto;
  @include font-size(9);
  margin: 30px 0 0 0;
}
