@charset "UTF-8";
/*-- ヘッダー start --*/
header#masthead {
  height: 64px;
  position: fixed;
  top: 0px;
  background-color: rgba(51, 51, 51, 0.5);
  width: 100%;
  text-align: center;
  z-index: 20;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.site-header {
  padding: 0;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.header__logo {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 30px;
}
.header__logo h1 {
  margin: 0;
  font-size: 1em;
}
.header__logo h1::before {
  display: none;
}
.header__logo .logo__img {
  width: 222px;
}

/*-- ハンバーガーボタンー start --*/
.hamburger-btn {
  width: 55px;
  height: 50px;
}
.hamburger-btn .openbtn1-wrap {
  display: flex;
  flex-direction: row;
}
.hamburger-btn .menu {
  color: #c92121;
  position: fixed;
  top: 6px;
  width: 50px;
  font-size: 10px;
}
.hamburger-btn .openbtn1 {
  position: fixed;
  z-index: 9999;
  /*ボタンを最前面に*/
  cursor: pointer;
  width: 50px;
  height: 50px;
}
.hamburger-btn .openbtn1 span {
  /*×に変化*/
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #d11111;
  width: 45%;
}
.hamburger-btn .openbtn1 span:nth-of-type(1) {
  top: 15px;
}
.hamburger-btn .openbtn1 span:nth-of-type(2) {
  top: 23px;
}
.hamburger-btn .openbtn1 span:nth-of-type(3) {
  top: 31px;
}
.hamburger-btn .openbtn1.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}
.hamburger-btn .openbtn1.active span:nth-of-type(2) {
  opacity: 0;
}
.hamburger-btn .openbtn1.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

/*-- ハンバーガーボタンー end --*/
/*-- ヘッダー end --*/
/*!
 * ress.css • v3.0.1
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
}

*,
::before,
::after {
  box-sizing: inherit;
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
}

::before,
::after {
  vertical-align: inherit;
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
}

* {
  margin: 0;
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
}

/* # =================================================================
     # General elements
     # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
     # Forms
     # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  outline-offset: -2px;
  /* Correct the outline style in Safari */
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  border-style: none;
  background-color: transparent;
}

/* Style select like a standard input */
select {
  -webkit-appearance: none;
  /* Chrome 41+ */
  -moz-appearance: none;
  /* Firefox 36+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
}

::-webkit-file-upload-button {
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
  color: inherit;
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
}

/* # =================================================================
     # Specify media element style
     # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
     # Accessibility
     # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~=screen] {
    display: inherit;
  }

  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

section#primary {
  display: none;
}

/*-- hero-area start --*/
.hero-area-box {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 680px;
}
.hero-area-box .hero-left {
  max-width: 80%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
.hero-area-box .hero-left img {
  height: 630px;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-area-box .hero-left img::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.hero-area-box .hero-right {
  width: 80%;
  height: 680px;
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
}
@media screen and (max-width: 768px) {
  .hero-area-box .hero-right {
    width: 80%;
  }
}
@media screen and (max-width: 480px) {
  .hero-area-box .hero-right {
    width: 85%;
  }
}

.hero-area-wrap {
  position: relative;
}

.copyright-wrap {
  position: absolute;
  top: 20vh;
  right: 11vw;
  z-index: 7;
}
.copyright-wrap .textbox {
  color: #ffffff;
}
.copyright-wrap .textbox .text-small {
  font-size: 7px;
  font-size: 0.7rem;
  line-height: 1.2em;
}
.copyright-wrap .textbox .text-large {
  font-size: 25px;
  font-size: 2.5rem;
  line-height: 1.3em;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/*-- hero-area end --*/
/*-- content-area start --*/
/*-- content-area end --*/
/*-- 全体のレイアウトフォーム start --*/
.site {
  margin: 0 auto;
}

/*-- 全体のレイアウトフォーム end --*/
/*-- body-area start --*/
#body-area-wrap #area {
  background-color: red;
}
#body-area-wrap #area.area-1, #body-area-wrap #area.area-3 {
  background-color: #ffffff;
}
#body-area-wrap #area.area-2, #body-area-wrap #area.area-4 {
  background-color: rgba(185, 184, 184, 0.5);
}
#body-area-wrap #area.area-1 {
  height: 560px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}
#body-area-wrap #area .area-1-box {
  width: 1000px;
  height: 520px;
  margin: 0 auto;
  padding-top: 40px;
}
#body-area-wrap #area .area-1-box-img {
  height: 575px;
  background-image: url(./img/city-img.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  padding: 80px 0px 0px 50px;
}
@media screen and (max-width: 768px) {
  #body-area-wrap #area .area-1-box-img {
    background-size: cover;
    align-items: center;
    padding: 0;
  }
}
@media screen and (max-width: 480px) {
  #body-area-wrap #area .area-1-box-img {
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 0;
  }
}
#body-area-wrap #area .textbox {
  background-color: rgba(255, 255, 255, 0.8);
  width: 500px;
}
@media screen and (max-width: 768px) {
  #body-area-wrap #area .textbox {
    width: 90%;
  }
}
@media screen and (max-width: 480px) {
  #body-area-wrap #area .textbox {
    width: 95%;
    margin: 0 auto;
  }
}
#body-area-wrap #area .textbox-wrap {
  padding: 2rem 1.5rem;
  font-size: 7px;
  font-size: 0.7rem;
}
#body-area-wrap #area .textbox-wrap .text {
  margin: 10px 0 0 0;
  font-size: 8px;
  font-size: 0.8rem;
}
#body-area-wrap #area .title {
  font-size: 1.2rem;
  font-weight: bold;
}
#body-area-wrap #area .btn {
  position: relative;
  font-weight: bold;
  line-height: 1.4;
  display: inline-block;
  width: 200px;
  padding: 10px 0;
  transition: 0.3s;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  background-color: #000000;
  background-size: 200% auto;
  font-size: 9px;
  font-size: 0.9rem;
  margin: 30px 0 0 0;
}
#body-area-wrap #area .area-2-box {
  display: flex;
  flex-direction: row;
  padding: 130px 0 80px 0;
  font-size: 8px;
  font-size: 0.8rem;
  width: 1000px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  #body-area-wrap #area .area-2-box {
    flex-direction: column;
    width: auto;
    padding: 108px 10px 80px 10px;
  }
}
@media screen and (max-width: 480px) {
  #body-area-wrap #area .area-2-box {
    flex-direction: column;
    width: auto;
    padding: 108px 10px 80px 10px;
  }
}
#body-area-wrap #area .area-2-box .left {
  padding: 0 15px 0 0;
}
@media screen and (max-width: 768px) {
  #body-area-wrap #area .area-2-box .left {
    padding: 0 0 30px 0;
  }
}
@media screen and (max-width: 480px) {
  #body-area-wrap #area .area-2-box .left {
    padding: 0 0 30px 0;
  }
}
#body-area-wrap #area .area-2-box .mini-box {
  display: block;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 768px) {
  #body-area-wrap #area .area-2-box .img-box {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  #body-area-wrap #area .area-2-box .img-box {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  #body-area-wrap #area .area-2-box .img-box .area-2-img {
    height: 265px;
  }
}
@media screen and (max-width: 480px) {
  #body-area-wrap #area .area-2-box .img-box .area-2-img {
    height: 265px;
  }
}
@media screen and (max-width: 768px) {
  #body-area-wrap #area .area-2-box .title {
    margin: 0 0 10px 0;
  }
}
@media screen and (max-width: 480px) {
  #body-area-wrap #area .area-2-box .title {
    margin: 0 0 10px 0;
  }
}
@media screen and (max-width: 768px) {
  #body-area-wrap #area .area-2-box .text {
    margin: 19px 0 0 0;
  }
}
@media screen and (max-width: 480px) {
  #body-area-wrap #area .area-2-box .text {
    margin: 19px 0 0 0;
  }
}
#body-area-wrap #area .area-3-box {
  width: 1000px;
  height: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  padding: 20px 0 0 0;
}
@media screen and (max-width: 768px) {
  #body-area-wrap #area .area-3-box {
    flex-direction: column;
    align-items: normal;
    padding: 20px 10px 0 10px;
    width: auto;
  }
}
@media screen and (max-width: 480px) {
  #body-area-wrap #area .area-3-box {
    flex-direction: column;
    align-items: normal;
    padding: 20px 10px 0 10px;
    width: auto;
  }
}
#body-area-wrap #area .area-3-box .title-box {
  width: 30%;
  padding: 10px 0 0 0;
  height: 350px;
}
@media screen and (max-width: 768px) {
  #body-area-wrap #area .area-3-box .title-box {
    width: auto;
    height: auto;
  }
}
@media screen and (max-width: 480px) {
  #body-area-wrap #area .area-3-box .title-box {
    width: auto;
    height: auto;
  }
}
#body-area-wrap #area .area-3-box .info-box {
  width: 70%;
  height: 350px;
}
@media screen and (max-width: 768px) {
  #body-area-wrap #area .area-3-box .info-box {
    width: auto;
  }
}
@media screen and (max-width: 480px) {
  #body-area-wrap #area .area-3-box .info-box {
    width: auto;
  }
}
#body-area-wrap #area .area-3-box .info-box-wrap {
  padding: 65px 10px 10px 10px;
}
@media screen and (max-width: 768px) {
  #body-area-wrap #area .area-3-box .info-box-wrap {
    padding: 20px 0px 10px 0px;
  }
}
@media screen and (max-width: 480px) {
  #body-area-wrap #area .area-3-box .info-box-wrap {
    padding: 20px 0px 10px 0px;
  }
}
#body-area-wrap #area .area-3-box .info-box ul {
  list-style-type: none;
}
@media screen and (max-width: 768px) {
  #body-area-wrap #area .area-3-box .info-box ul {
    padding-left: 0rem;
  }
}
@media screen and (max-width: 480px) {
  #body-area-wrap #area .area-3-box .info-box ul {
    padding-left: 0rem;
  }
}
#body-area-wrap #area .area-3-box .info-box li {
  border-bottom: dotted;
  /*下線を点線にする*/
  border-color: #7e7e7e;
  border-width: 1px;
  color: #252525;
  width: 95%;
}
@media screen and (max-width: 768px) {
  #body-area-wrap #area .area-3-box .info-box li {
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  #body-area-wrap #area .area-3-box .info-box li {
    margin: 0 auto;
  }
}
#body-area-wrap #area .area-3-box .info-box .small-text {
  font-size: 4px;
  font-size: 0.4rem;
}
#body-area-wrap #area .area-3-box .info-box .midi-text {
  font-size: 8px;
  font-size: 0.8rem;
}
#body-area-wrap #area .area-3-box .info-list__link {
  text-align: right;
  padding: 0 32px 0 0;
}
@media screen and (max-width: 768px) {
  #body-area-wrap #area .area-3-box .info-list__link {
    text-align: left;
  }
}
@media screen and (max-width: 480px) {
  #body-area-wrap #area .area-3-box .info-list__link {
    text-align: left;
  }
}
#body-area-wrap #area .area-4-box .contact-box {
  margin: 0 20px 0 0;
}
#body-area-wrap #area .area-4-box .contact-box .text-box {
  font-size: 8px;
  font-size: 0.8rem;
  width: 480px;
  margin: 12px 0 0 0;
}
#body-area-wrap #area .area-4-box .inner {
  height: 400px;
  width: 1000px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}
#body-area-wrap #area .area-4-box .inner .pic-box {
  margin: 0 auto;
}
#body-area-wrap #area .area-4-img {
  width: 430px;
}

/*-- body-area end --*/
/*-- フッター start --*/
.footer {
  padding: 20px 30px;
  background-color: #525252;
}

.copyright {
  text-align: center;
  font-size: 4px;
  font-size: 0.4rem;
}
.copyright__link:hover {
  text-decoration: none;
  opacity: 0.8;
}
.copyright a {
  text-decoration: none;
  color: #ffffff;
}

/*-- フッター end --*//*# sourceMappingURL=style.css.map */